[Unit]
Description=web container

[Container]
Image=nginx:alpine
ContainerName=my-nginx
PublishPort=8080:80
Volume=./html:/usr/share/nginx/html:ro
Environment=NGINX_HOST=localhost
Environment=NGINX_PORT=80

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
